<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Feedback - <%= profile %>
  </title>
  <style>
      /* Basic styles for the body */
      body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f9;
      color: #333;
      margin: 0;
    }
    
    /* Styles for the main heading */
    h1 {
      color: #333;
      text-align: center;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: bold;
    }

    /* Styles for the highlighted text section */
    .highlight {
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 1.2em;
      color: #333;
      margin-bottom: 20px;
      background-color: #e7f0ff;
      padding: 15px;
      border-radius: 8px;
    }

    /* Styles for each section container */

    .section {
      margin-bottom: 30px;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .section h2 {
      color: #0056b3;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: bold;
    }

    /* Remove default list styles and padding */
    .section ul {
      list-style-type: none;
      padding-left: 0;
    }

    /* Styles for list items */
    .section li {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f9f9f9;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
    }

    /* Styles for the bullet points in list items */
    .section li:before {
      color: #0056b3;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: 0.5em;
    }

    .section ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .feedback-buttons {
      display: flex;
      justify-content: center;
    }

    .feedback-buttons button {
      border: 1px solid #000;
      padding: 10px 20px;
      margin: 0 10px;
      background-color: white;
      cursor: pointer;
    }

    .feedback-buttons button:hover {
      background-color: #f0f0f0;
    }
  </style>
</head>

<body>
  <h1>Feedback for <%= profile %>
  </h1>
  <div class="feedback-buttons">
    <button onclick="location.href='/collaboration-style'">Collaboration Feedbacks</button>
    <!-- By clicking on this button, the user will be redirected to the feedback collaboration page -->
    <button>Decision Making Feedbacks</button>
    <!-- Nothing happens when the user clicks here, because they are already on the page -->
  </div>
  <br>
  <div class="highlight">
    <%= feedback.briefDescription %>
  </div>
  <div class="section">
    <h2>Strengths in a team setting:</h2>
    <ul>
      <% feedback.strengths.forEach(function(strength) { %>
        <li>
          <%= strength %>
        </li>
        <% }); %>
    </ul>
  </div>
  <div class="section">
    <h2>Weaknesses:</h2>
    <ul>
      <% feedback.weaknesses.forEach(function(watchOut) { %>
        <li>
          <%= watchOut %>
        </li>
        <% }); %>
    </ul>
  </div>
  <canvas id="selfAssessmentDecisionMaking"></canvas>
</body>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    fetch('/decision-making-style/graphDecisionMaking', { method: 'GET' })
      .then(data => data.json())
      .then(data => {

        const labels = Object.keys(data);
        const score = Object.values(data);

        const ctx = document.getElementById('selfAssessmentDecisionMaking')
        console.log(ctx)
        myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: 'Personal Strengths',
              data: score,
              fill: true,
              backgroundColor: 'rgba(30, 90, 111, 0.2)',
              borderColor: 'rgba(30, 90, 111)',
              borderWidth: 1.5,
              pointBackgroundColor: 'rgb(255, 99, 132)',
              pointBorderColor: '#fff',
              pointHoverBackgroundColor: '#fff',
              pointHoverBorderColor: 'rgb(255, 99, 132)'

            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                max: 8
              }
            }
          }
        });
      });
  });

</script>

</html>